APP_ENVIRONMENT=development
APP_LOGGING_LEVEL=debug

# Step CA instance settings
STEP_API_ENDPOINT=https://ca.home.lab
STEP_CERTIFICATE_SUBJECT="Cloudflare"
STEP_CERTIFICATE_PROVISIONER=cloudflare
STEP_CERTIFICATE_PROVISIONER_PASSWORD=super-secret-change-in-production

# default lifetime of 90 days, default JWK provisioners only support up to 24 hours
# create or update a provisioner with the cli flag `--x509-max-dur=2160h1m`
STEP_CERTIFICATE_LIFETIME=2160h

# default threshold of 7 days
CF_RENEWAL_THRESHOLD=168h

# cloudflare details
CF_API_TOKEN=
CF_ZONE_ID=
